// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #004ab9;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$background-dark: #282A35;
$background-primary: #353567;
$header-primary: #d8d8d8;