.navbar-main {
  justify-content: space-between;
  background: $background-primary;
}

.navbar-main .navbar-collapse {
  flex-grow: 0;
}

.navbar-main .navbar-brand img {
  width: 40px;
  border-radius: 10px;
}

.nav-link-main {
  color: $header-primary;
}
